:root {
  --primery-blue: hsl(243, 87%, 12%);
  --primery-dblue: hsl(238, 22%, 44%);
  --accent-blue: hsl(224, 93%, 58%);
  --accent-cyan: hsl(170, 45%, 43%);
  --neutral-grayishblue: hsl(240, 75%, 98%);
  --neutral-gray: hsl(0, 0%, 75%);
  --open-sans: 'Open Sans', sans-serif;
  --raleway: 'Raleway', sans-serif;
}

/* box-sizing */
*, html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: var(--open-sans);
  font-size: 0.9375rem;
}

/* main content */
.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.navbar-container {
  padding: 0;
  margin: 0;
}

.fylo-brand {
  flex: 0 1 auto;
  width: clamp(5.6rem, 7.5vw, 8rem);
}

.fylo-logo {
  width: 100%;
}

ul.navbar-nav {
  flex-flow: row nowrap;
  gap: 1rem;
}

/* All about headings*/
.fylo-heading {
  font-weight: 700;
  font-family: var(--raleway);
}

.heading-first {
  font-size: 1.5rem;
}

.heading-second {
  font-size: 1rem;
  margin: 4rem 0 1.5rem;
}

/* mail signup & button */
input[type=email] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
}

.get-started-btn {
  border: none;
  margin: 1rem 0;
  background-color: var(--accent-blue);
  width: 100%;
  padding: 0.6rem;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

.fylo-illustration {
  width: 100%;
  display: block;
}

.fylo-working-process {
  background-image: url("images/bg-curve-mobile.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-wrapper {
  padding-top: 1.5rem;
}

.working-process-description>p {
  text-align: start;
}

/* review card section */
.review-card {
  padding:1.5rem 0 1rem 1.7rem;
  font-size: 0.8rem;
}

.kyle-burton {
  max-width: 40px;
  border-radius: 50px;
}


.reviewer-info {
  display: inline-block;
  vertical-align: middle;

}

.reviewer-name{
  font-weight: 700;
  margin: 0;
  font-size: inherit;
}

.reviewer-position {
  margin: 0;
  font-size: 0.7rem;
  line-height: 2;
}


.early-access {
  background-color: var(--primery-dblue);
  color: #fff;
}

/* footer section */
footer.attribution {
  background-color: var(--primery-blue);
  color: #fff;
  margin:0;
}
