:root {
  --primery-blue: hsl(243, 87%, 12%);
  --primery-dblue: hsl(238, 22%, 44%);
  --accent-blue: hsl(224, 93%, 58%);
  --accent-cyan: hsl(170, 45%, 43%);
  --neutral-grayishblue: hsl(240, 75%, 98%);
  --neutral-gray: hsl(0, 0%, 75%);
  --open-sans: 'Open Sans', sans-serif;
  --raleway: 'Raleway', sans-serif;
}

/* box-sizing */
*, html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: var(--open-sans);
  text-align: center;
}

/* custom spacing */
.responsive-spacing {
  padding: clamp(1rem, 6vw, 5rem) !important;
}

/* navbar & fylo-signup */
.navbar-container {
  padding: 0 !important;
}

.fylo-brand {
  flex: 0 1 auto;
  width: clamp(5.6rem, 10vw, 10rem) !important;
}

.navbar-nav {
  gap: 1rem !important;
}

.fylo-signup {
  padding-top: 0 !important;
}

/* setting up the font-size & font-weight */
.nav-link {
  font-size: clamp(0.8rem, 3vw, 1rem) !important;
}

.fylo-heading {
  font-weight: 700;
  font-family: var(--raleway);
}

.heading-first {
  font-size: clamp(1.5rem, 2.8vw, 3rem) !important;
}

.heading-second {
  font-size: clamp(1.3rem, 2.5vw, 2rem) !important;
  margin: 4rem 0 1.5rem;
}

h3.fylo-heading {
  font-size: clamp(1rem, 2vw, 2rem) !important;
}

.fylo-link {
  font-family: var(--raleway);
  color: var(--accent-cyan);
  font-size: 1rem;
  text-decoration: none;
  border-bottom: 1px solid var(--accent-cyan);
}

/* form control section */
.get-started-btn {
  /* targeting both btns */
  width: 100%;
  font-family: var(--raleway);
  border-radius: 2px;
  font-weight: 600;
  padding: 9px 5px;
  margin: 0.5rem 0;
}

input[type=email] {
  width: 100%;
  min-width: 150px;
  padding: 9px;
  border-radius: 3px;
}

/* fylo-working-process section */
.fylo-working-process {
  background-color: var(--neutral-grayishblue);
  position: relative;
}

section.fylo-working-process::before {
  content: "";
  background-image: url(images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  height: 8rem;
  width: 100%;
  left: 0;
  right: 0;
  top: -45px;
}

.fylo-link::after {
  content: url("images/icon-arrow.svg");
  vertical-align: middle;
  margin-left: 5px;
}

.review-card {
  max-width: 320px;
  padding: 1.5rem;
  font-size: 0.8rem;
  background-image: url(images/icon-quotes.svg);
  background-repeat: no-repeat;
  background-position: top 0.6rem left 1.6rem;
  margin: auto;
  text-align: left;
}

.kyle-burton-avatar {
  max-width: 40px;
}

.reviewer-name {
  font-size: 0.8rem;
  font-weight: 700;
}

.reviewer-position {
  font-size: 0.7rem;
}

/* early acess */
.early-access {
  background-color: var(--primery-dblue);
  color: #fff;
}

/* footer section */
.attribution {
  background-color: var(--primery-blue);
  text-align: left;
}

.attribution a {
  color: #fff !important;
}

.social-icon {
  width: 35px;
  height: 35px;
  padding: 7px;
  text-align: center;
  border: 1px solid #FFF;
  border-radius: 50%;
}

.phone::before {
  content: url("images/icon-phone.svg");
  margin-right: 1rem;
}

.email::before {
  content: url("images/icon-email.svg");
  margin-right: 1rem;
}

/* for large screen resolution*/
@media screen and (min-width:576px) {
  body {
    text-align: left;
  }

  .fylo-signup,
  .fylo-working-process,
  .form-section,
  .early-access {
    display: flex !important;
  }

  .get-started-btn {
    /* targeting both btns */
    margin: 7px 10px;
    max-width: 15rem;
  }

  .fylo-signup-btn {
    /* targeting btn from fylo-signup section only */
    width: clamp(8.5rem, 16vw, 15rem);
  }

  .mail-submit {
    max-width: 22rem;
  }

  /* fylo working processs */
  section.fylo-working-process::before {
    content: "";
    background-image: url(images/bg-curve-desktop.svg);
    right: 0;
    left: 0;
    top: -47px;
  }

  .review-card {
    margin: 0;
  }

  /* early access */
  .early-access {
    padding: 4rem 0 !important;
  }

  .early-access-description, .early-access-signup {
    flex: 0 1 auto;
    width: 50%;
    padding: 1rem clamp(0.5rem, 6vw, 5rem);
  }

  /* footer section */
  .attribution {
    display: flex;
  }

  .attribution>div {
    flex: 0 1 auto;
    width: max-content;
  }

  .attribution>div:not(:first-child) {
    margin-top: 4.5rem !important;
  }

  .social-connect>ul {
    justify-content: flex-start !important;
  }

  /* active states */
  .get-started-btn:hover {
    background-color: #80a8ff !important;
    border: none;
    box-shadow: 5px 4px 5px -2px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 5px 4px 5px -2px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 5px 4px 5px -2px rgba(0, 0, 0, 0.14);
  }

  .about-us a:hover, .contact-us a:hover {
    color: #80a8ff !important;
  }

  .social-icon {
    padding: 5px;
  }

  .social-icon:hover {
    border-color: #80a8ff;
  }

  .fa-brands:hover {
    color: #80a8ff;
  }
}

@media screen and (min-width:1030px) {
  section.fylo-working-process::before {
    top: -80px;
  }
}
