:root {
  --primery-blue: hsl(243, 87%, 12%);
  --primery-dblue: hsl(238, 22%, 44%);
  --accent-blue: hsl(224, 93%, 58%);
  --accent-cyan: hsl(170, 45%, 43%);
  --neutral-grayishblue: hsl(240, 75%, 98%);
  --neutral-gray: hsl(0, 0%, 75%);
  --open-sans: 'Open Sans', sans-serif;
  --raleway: 'Raleway', sans-serif;
}

/* box-sizing */
*, html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html, body {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: var(--open-sans);
  /* font-size: 0.9375rem; */
    text-align: center;
}

/* custom spaceing */
.responsive-spaceing {
  padding: clamp(1rem, 6vw, 5rem) !important;
}

/* navbar & fylo-signup */
.navbar-container {
  padding: 0 !important;
}

.fylo-brand {
  flex: 0 1 auto;
  width: clamp(5.6rem, 10vw, 10rem);
}

.navbar-nav {
  gap: 1rem !important;
}

.fylo-signup {
  padding-top: 0 !important;
}

/* setting up the font-size & font-weight */
.fylo-heading {
  font-weight: 700;
  font-family: var(--raleway);
}

.heading-first {
  font-size: clamp(1.5rem, 2.8vw, 3rem) !important;
}

.heading-second {
  font-size: clamp(1.3rem, 2.5vw, 2rem) !important;
  margin: 4rem 0 1.5rem;
}

h3.fylo-heading {
  font-size: clamp(1rem, 2vw, 2rem) !important;
}

.fylo-link {
  font-family: var(--raleway);
  color:var(--accent-cyan) ;
  font-size: 1rem;
  text-decoration: none;
  border-bottom: 1px solid var(--accent-cyan);
}

/* form control section */
.get-started-btn {
  width: 100%;
  font-family: var(--raleway);
  border-radius: 4px;
  font-weight: 600;
  padding: 9px 5px;
  margin: 0.5rem 0;
}

input[type=email] {
  width: 100%;
  min-width: 150px;
  padding: 9px;
  border-radius: 3px;
}

/* fylo-working-process section */
.fylo-working-process {
  background-color: var(--neutral-grayishblue);
}

.fylo-link::after {
  content:url("images/icon-arrow.svg");
  vertical-align: middle;
  margin-left: 5px;
}

.review-card {
  max-width: 320px;
  padding: 1.5rem;
  font-size: 0.8rem;
  background-image: url(images/icon-quotes.svg);
  background-repeat: no-repeat;
  background-position: top 0.6rem left 1.6rem;
  margin: auto;
  text-align: left;
}

.kyle-burton-avatar {
  max-width: 40px;
}

.reviewer-name {
  font-size: 0.8rem;
  font-weight: 700;
}

.reviewer-position {
  font-size: 0.7rem;
}

/* for other screen resolution*/
@media screen and (min-width:576px) {
  body {
    text-align: left;
  }
  .fylo-signup, .fylo-working-process, .form-section {
    display: flex !important;
  }

  .get-started-btn {
    max-width: 12rem;
    margin: 7px 10px;
  }

  .mail-submit {
    max-width: 22rem;
  }

  /* fylo working processs */
  .background-wrapper {
    background-image: url("images/bg-curve-desktop.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-color: var(--neutral-grayishblue);
  }

  .review-card {
    margin: 0;
  }
}
